<%= link_to("<< Back to List", patients_path, :class => 'back-link') %>

<div class="patients new">
  <h2>Update Patient</h2>

  <%= form_for(@patient) do |f| %>

    <%= render(:partial =>'form', :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= f.submit("Update Patient Info") %>
    </div>

  <% end %>
</div>
