<!-- style sheet used for the home page -->
<!DOCTYPE html>
<style>
    ul.navbar{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        border: 1px solid #e7e7e7;
        background-color: #500000;
    }

    li.navbar {
        float: left;
    }

    li.navbar a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li.navbar a:hover:not(.active) {
        background-color: #d22c2c;
    }

    .home-info{
        /*border: 3px solid green;*/
        margin: auto;
        text-align: left;
        width: 25%;
    }
</style>

<!-- navigation bar -->
<html>
<div class="navbar">
  <ul class="navbar">
    <li class="navbar"><%= link_to("Home", patients_home_path) %></li>
    <li class="navbar"><%= link_to("Patients", patients_index_path) %></li>
  </ul>
</div>

<!-- App features/instructions -->
<div class="home-info">
  <h1>Welcome to Vaccination Tracker!</h1>

  <h3>How it works:</h3>
  <ul>
    <li>Click the patients tab to view a list of all vaccinated patients</li>
    <li>You can add, show, edit, and delete patients</li>
    <li>When updating a patient, please reupload an image</li>
    <li>You can also access a qr code for the patient to view their information</li>
  </ul>
</div>

</html>



